venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
build/
*.egg-info/
.idea/
*.swp
*~
*.db
*.csv
.DS_Store

# project specific
metadata/**
incomplete/**
reject/**
.placeholder
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# ignore all contents of data/ EXCEPT data/base_executables & contents of base_executables
data/**
!data/base_executables
!data/base_executables/*