<!doctype html>
<!--
The consent.html displays the text of an IRB-approved consent form.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mood and Cognition Tasks - Informed Consent Form</title>
  <link rel="stylesheet" href="../static/css/tacit-css.min.css"/>
</head>
<body>

  <!-- Study headers -->
  <h1 style="color: rgb(51, 51, 51);">Mood and Cognition Tasks</h1>

  <!-- Intro paragraph -->
  <p>
      Welcome to the <strong>mood and cognition tasks</strong>, web-based tasks that examine decision-making and rewards. Before taking part in this National Institutes of Health (NIH) research study, please read the script below and click on the "I Agree" button at the bottom of the page if you understand the statements and freely agree to participate in the study.
  </p>

  <p>
      This study involves web-based surveys and downloaded tasks designed to learn about decision-making and mood. The study involves no more than minimal risk to participants (i.e., the level of risk encountered in daily life). There are two parts to this experiment, online questionnaires that are expected to take up to 45 minutes and cognitive tasks that you will download and complete on your computer which are expected to take up to 30 minutes.
  </p>

  <p>
      There are limits on how many sessions you can carry out within one week and within one month.  We will not invite you fulfill a session more often than twice in any week, more often than four times in any month or more than six times total.  Each session (completing a task and all the  questionnaires) is independent of any other session and you will be paid for each session that you complete.  Always, the decision to carry out one of our sessions is completely up to you.
  </p>

  <p>
      For the entire study you could perform up to a total of six sessions. If you were to fulfill the maximum number of sessions (6) it would take approximately a total of 7 hours, spread out over more than a month.
  </p>

  <h2 style="color: rgb(51, 51, 51);">Part I: The Questionnaires</h2>

  <p>
      In the first part of the study, you may be asked questions about your age, sex, and work/education level.  This is followed by a set of up to 10 questionnaires about symptoms of mood disorders, anxiety, and depression. There are up to 200 questions total for all these questionnaires and answering all of them takes no more than 45 minutes.
  </p>

  <p>
      The questionnaires include questions intended to verify that you are paying attention and that the task is not being completed by a bot. If you miss more than one of these check questions, you will not be asked to complete the tasks.
  </p>

  <h2 style="color: rgb(51, 51, 51);">Part II: The Tasks</h2>

  <p>
      For the decision-making tasks, images, digits, or letters will be presented on the monitor and you will have to respond to them as instructed. The tasks are relatively easy and will take no more than 30 minutes to complete. For some of these tasks, you will be asked to rate your mood. The tasks will be carefully explained to you and you will be given an opportunity to practice before doing the tasks.
  </p>

  <p>
      Tasks will be collected via a task you download and run on your computer. You will be given a link to download the file and instructions on how to run it after completing the questionnaires.
  </p>

  <h2 style="color: rgb(51, 51, 51);">Notification of Privacy Practices</h2>

  <p>
      Subject level responses from this experiment will be publicly shared online, but data will be anonymized prior to sharing. This will include removal of precise date and time information, as well as screening of free text responses to ensure that they do not include identifiable information. In other words, we will take all reasonable steps to ensure that there is no way to link responses to individuals in the publicly shared data.
  </p>

  <p>
      Your Prolific ID will be used to distribute payment to you, but NIH will not retain your ID with your survey responses or data. NIH will not have any access to your personal identifiers beyond your Prolific ID, nor will we attempt to access any personally identifying information about you that you may have published related to your Prolific ID. After no more than two weeks, all keys linking your Prolific ID to your responses will be destroyed.
  </p>

  <p>
      We will retain a record of your Prolific ID even if you decline to participate in this study so that we can ensure that no one who has declined to participate can access the study. We will retain a record of the Prolific IDs that have viewed this consent, and their responses, for seven years beyond the completion of this study.
  </p>

  <p>
      If you have concerns that your Prolific ID has been inappropriately recorded or that your response to this consent form was recorded inaccurately, please contact the Principal Investigator of the Study, at <a href="mailto:dylan.nielson@nih.gov" style="background-color: rgb(255, 255, 255);" target="_blank">Dylan.Nielson@nih.gov</a>.
  </p>

  <h2 style="color: rgb(51, 51, 51);">Participation is Voluntary</h2>


  <p>
      Participation is voluntary and the decision to participate in a study is completely up to you. Your refusal to take part in the study will not result in any penalty or loss of benefits to which you are otherwise entitled. You may stop participating in the study at any time.
  </p>

  <p>
      If you have questions or concerns about this study please contact Principal Investigator of the Study, Dr. Dylan Nielson at <a href="mailto:dylan.nielson@nih.gov" style="background-color: rgb(255, 255, 255);" target="_blank">Dylan.Nielson@nih.gov</a>.
  </p>

  <p><strong>
        If you are 18 years of age or older, understand the statements above, and freely consent to participate in the study, click on the &quot;I Agree&quot; button to begin the experiment.
  </strong></p>

  <p><strong>
        If you are not comfortable downloading and running a file on your computer in order to complete this experiment, please do not agree to participate.
  </strong></p>

  <center>
    <form method="post">

      <div class="recontact">
        <p>Would you like to be re-contacted for future studies?</p>
        <p>
          <input type="radio" name="future_contact" value="Yes">Yes
          <input type="radio" name="future_contact" value="No">No
        </p>
      </div>

      <button type="submit" name="subj_consent" value=1>I agree</button>
      <button type="submit" name="subj_consent" value=0>I DO NOT agree</button>

    </form>
  </center>

</body>
<style>
.recontact {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
</style>
</html>
