<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="noindex">
  <title>CogMood Surveys</title>

  <!-- Load libraries -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="../static/lib/jspsych-8.0.2/dist/jspsych.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>

  <!-- Load jsPsych plug-ins -->
  <script src="../static/lib/jspsych-8.0.2/dist/plugin-survey-likert.js"></script>
  <script src="../static/lib/jspsych-8.0.2/dist/plugin-survey.js"></script>
  <!-- Load survey.json -->
  <script src="../static/js/cogmood_survey_required.js"></script>
  <!-- Load CSS styles -->
  <link href="../static/lib/jspsych-8.0.2/dist/jspsych.css" rel="stylesheet" type="text/css"></link>
  <link href="../static/lib/jspsych-8.0.2/dist/survey.css" rel="stylesheet" type="text/css"></link>

</head>
<style>

</style>
<body></body>
<script>

  // Display alert message on back/refresh.
  // https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload
  function verify_unload(e){
    e.preventDefault();
    (e || window.event).returnValue = null;
    incomplete_save();  // Saves incomplete data. 
    return null;
  };
  window.addEventListener("beforeunload", verify_unload);

  // Setup a markdown converter for survey text so I can bold things
  // https://surveyjs.io/form-library/examples/edit-survey-questions-markdown/vanillajs#content-code
  const converter = new showdown.Converter();
  function convert_markdown(survey, options) {
      // Convert Markdown to HTML
      let str = converter.makeHtml(options.text);
      // Remove root paragraphs <p></p>
      str = str.substring(3);
      str = str.substring(0, str.length - 4);
      // Set HTML markup to render
      options.html = str;
  };

  function add_onclick(_, options) {
      if (options.htmlElement.getAttribute('data-name') == 'ladder_resp'){
          options.htmlElement.setAttribute('style', 'display: none;')
      }
      if (options.htmlElement.getAttribute('data-name') == 'ladder') {
          let og_style = options.htmlElement.parentElement.getAttribute('style')
          og_style = og_style.replace('min-width: min(100%, 300px);', 'min-width: 600px;');
          options.htmlElement.parentElement.setAttribute('style', og_style)
          options.htmlElement.querySelectorAll('polygon').forEach((el) => {
              let rung_name=el.getAttribute('id').replace('-', ' ');
              el.onclick = function () {
                  document.querySelector(`input[value='` + rung_name + `']`).click();
                  document.querySelectorAll('polygon').forEach(function(p) {
                        p.setAttribute('fill', 'transparent');
                  });
                  this.setAttribute('fill', 'rgba(0, 0, 255, 0.5)');
              }
          })
      }
  }

  function save_current_page(survey) {
      currentpage = survey.currentPage.name
      console.log(currentpage)
  }
  function augment_survey(survey) {
      survey.onTextMarkdown.add(convert_markdown);
      survey.onCurrentPageChanged.add(ongoing_save);
      survey.onCurrentPageChanged.add(save_current_page);
      survey.onAfterRenderQuestion.add(add_onclick);

      {% if prev_data is not none %}
          let parsed_data = JSON.parse({{ prev_data|tojson|safe }});
          survey.data = parsed_data
          if (parsed_data.pageNo) {
              survey.currentPageNo = parsed_data.pageNo
          }
      {% endif %}
  }

  // Define global variables.
  var currentpage = ""

  const survey_trial = {
    type: jsPsychSurvey,
    survey_json: survey_json,
    survey_function:  augment_survey,
    on_start: function(data) {
      pass_message('message to pass to nivturk')
    },
  };

  // Initialize timeline.
  var timeline = [survey_trial];

  // Initialize jsPsych.
  var jsPsych = initJsPsych({
    on_finish: function() {
        // Remove requirement to verify redirect
        window.removeEventListener("beforeunload", verify_unload);

        // Figure out if we had an early exit due to check questions
        var csd = jsPsych.data.get()['trials'][0]['response']
        // Add interactions to the data variable
        var interaction_data = jsPsych.data.getInteractionData();
        jsPsych.data.get().addToLast({interactions: interaction_data.json()});

        // Display jsPsych data in viewport.
        // jsPsych.data.displayData();
        if (csd['attn__1'] != 'Yes') {
            redirect_reject("{{workerId}}", "{{assignmentId}}", "{{hitId}}", "{{code_nodl}}");
        } else if (csd['attn_fails'] < 2) {
            redirect_success("{{workerId}}", "{{assignmentId}}", "{{hitId}}", "{{code_success}}");
        } else if (csd['hitop_02']['attn__3'] != 2) {
            redirect_reject("{{workerId}}", "{{assignmentId}}", "{{hitId}}", "{{code_attn3}}");
        } else if (csd['hitop_08']['attn__4'] != 3) {
            redirect_reject("{{workerId}}", "{{assignmentId}}", "{{hitId}}", "{{code_attn4}}");
        } else if (csd['hitop_14']['attn__5'] != 0) {
            redirect_reject("{{workerId}}", "{{assignmentId}}", "{{hitId}}", "{{code_attn5}}");
        }
    }
  });

  // Execute timeline.
  jsPsych.run(timeline);

</script>
<script>

  // Pass message from jsPsych to NivTurk
  function pass_message(msg) {

    $.ajax({
      url: "{{ url_for("survey.pass_message") }}",
      method: 'POST',
      data: JSON.stringify(msg),
      contentType: "application/json; charset=utf-8",
      xhrFields: {
        withCredentials: true
      }
    }).done(function(data, textStatus, jqXHR) {
      // do nothing on success
    }).fail(function(error) {
      console.log(error);
    });

  }

    // Save an ongoing data.
  function ongoing_save(survey) {
    var ogdata = survey.data;
    ogdata.pageNo = survey.currentPageNo;
    $.ajax({
      url: "{{ url_for("survey.ongoing_save") }}",
      method: 'POST',
      data: JSON.stringify(ogdata),
      contentType: "application/json; charset=utf-8",
      xhrFields: {
        withCredentials: true
      }
    }).done(function(data, textStatus, jqXHR) {
      // do nothing
    }).fail(function(error) {
      // do nothing
    });

  }

  // Save an incomplete dataset when they are not willing to download and run task.
  function nodl() {
    var url = "{{ url_for("error.error", errornum=1008) }}";

    $.ajax({
      url: "{{ url_for("survey.survey_nodl") }}",
      method: 'POST',
      data: JSON.stringify(jsPsych.data.get().json()),
      contentType: "application/json; charset=utf-8",
      xhrFields: {
        withCredentials: true
      }
    }).done(function(data, textStatus, jqXHR) {
      window.location.replace(url);
    }).fail(function(error) {
      window.location.replace(url);
    });
  }
  // Save an incomplete dataset.
  function incomplete_save() {

    $.ajax({
      url: "{{ url_for("survey.incomplete_save") }}",
      method: 'POST',
      data: JSON.stringify(jsPsych.data.get().json()),
      contentType: "application/json; charset=utf-8",
      xhrFields: {
        withCredentials: true
      }
    }).done(function(data, textStatus, jqXHR) {
      // do nothing
    }).fail(function(error) {
      // do nothing
    });

  }

  // Successful completion of experiment: redirect with completion code.
  function redirect_success() {

    // Concatenate metadata into complete URL (returned on success).
    var url = "{{ url_for("taskstart.taskstart") }}" +'?'+ window.location.href.split('?')[1]

    $.ajax({
      url: "{{ url_for("survey.redirect_success") }}",
      method: 'POST',
      data: JSON.stringify(jsPsych.data.get().json()),
      contentType: "application/json; charset=utf-8",
      xhrFields: {
        withCredentials: true
      }
    }).done(function(data, textStatus, jqXHR) {
      window.location.replace(url);
    }).fail(function(error) {
      window.location.replace(url);
    });

  }

  // Unsuccessful completion of experiment: redirect with decoy code.
  function redirect_reject(workerId, assignmentId, hitId, code_reject) {

    // Concatenate metadata into complete URL (returned on reject).
    var url = "https://app.prolific.co/submissions/complete?cc=" + code_reject;

    $.ajax({
      url: "{{ url_for("survey.redirect_reject") }}",
      method: 'POST',
      data: JSON.stringify(jsPsych.data.get().json()),
      contentType: "application/json; charset=utf-8",
      xhrFields: {
        withCredentials: true
      }
    }).done(function(data, textStatus, jqXHR) {
      window.location.replace(url);
    }).fail(function(error) {
      window.location.replace(url);
    });
  }


</script>
</html>
