<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">

  <title>CogMood - Task</title>
  <link rel="stylesheet" href="../static/css/tacit-css.min.css"/>
  <style>
    /* Basic styling for layout */
    .tab-container {
      display: flex;
      margin-top: 20px;
      border-bottom: 2px solid #ddd;
    }
    .tab {
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
      border: 1px solid #ddd;
      border-bottom: none;
      background-color: #f9f9f9;
    }
    .tab.active {
      background-color: white;
      border-top: 2px solid #4CAF50;
      color: #4CAF50;
    }
    .instructions {
      display: none;
      padding: 15px;
      border: 1px solid #ddd;
      margin-top: 10px;
      background-color: #f9f9f9;
    }
    .alwaysinstructions {
      display: none;
      padding: 15px;
      border: 1px solid #ddd;
      margin-top: 10px;
      background-color: #f9f9f9;
    }
    .download-button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
    .download-button:hover {
      background-color: #45a049;
    }
.instruction-image {
      max-width: 300px;
      max-height: 400px;
      margin-top: 10px;
      border: 1px solid #ddd;
      margin-left: auto;
      margin-right: auto;
    }
.mac {
    display: block;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.button-problem{
    background-color: #f2dede !important;
    color: #000000 !important;
}
#helpFormContainer {
  display: none;
}
#appBrokeContainer {
  display: none;
}
#noIdContainer {
  display: none;
}
#noUploadContainer {
  display: none;
}
#otherProblemContainer {
  display: none;
}
  </style>

</head>
<style>
    div.box {
        text-align: center;
    }
</style>
<body>

  <h1 style="color: rgb(51, 51, 51);">Mood and Cognition Task Download</h1>

  <p>
      Thank you for completing the survey!
  </p>
  {% if button_before_dl%}
      <div class="alert-danger">
          Please download and complete the task before clicking
          the "I have completed the tasks" button.
      </div>
  {% endif %}
  {% if button_before_running%}
      <div class="alert-danger">
          Please run the downloaded executable and complete the tasks
          before clicking the "I have completed the tasks" button.
      </div>
  {% endif %}
  {% if n_blocks_needed is not none%}
      <div class="alert-warning">
          Please complete the all the tasks before clicking the "I have completed the tasks" button.
          <br>
          You have {{ n_blocks_needed }} blocks remaining.
      </div>
  {% endif %}

   <p>Please download the task using the appropriate instructions for your operating system.</p>
   <p>
       Feel free to take a short break while it is downloading.
       When you are ready, follow the instructions to begin the cognitive tasks.
   </p>

   <p>
       Once you have completed the tasks, please click "I have completed the tasks" below.
  </p>
  {% if subject_task_code is not none %}
  <p>
      Your Prolific Worker ID is <strong> {{ workerId }} </strong>
      <br>
      Your 4 character task code is <strong> {{ subject_task_code }} </strong>
      <br>
      <strong>Please make a note of your ID and code so that you can enter them in the task</strong>
  </p>
  {% endif %}
  <!-- Tabs for OS Selection -->
  <div class="tab-container">
    <div class="tab" id="windows-tab" onclick="showTab('windows')">Windows</div>
    <div class="tab" id="macos-tab" onclick="showTab('macos')">macOS</div>
  </div>

  <!-- Windows Instructions -->
  <div id="windows-instructions" class="instructions">
    <h3>Windows Instructions:</h3>
    <button class="download-button" onclick="window.location.href='{{ win_link }}'">Download for Windows</button>
    <p>After downloading, locate the downloaded file in your Downloads directory and double-click it.</p>
    <p>
       The cognitive tasks may take several minutes to begin once you have double-clicked on the executable. You will not see any indication of progress while it is loading, but please be patient.
       Please be patient and do not double-click more than once.
       <br>
       If you have antivirus software, it may flag NIMHCogMood.exe, but this is a false-positive. It is safe to run.
   </p>
  </div>

  <!-- macOS Instructions -->
  <div id="macos-instructions" class="instructions">
    <h3>macOS Instructions:</h3>
    <button class="download-button" onclick="window.location.href='{{ mac_link }}'">Download for macOS</button>
    <p>After downloading, locate the NIMHCogMood.zip file, usually in your Downloads folder and double click it.</p>
    <p>This will unzip NIMHCogMood.app into the same directory. Double click it to start the app.</p>
    <p>
       The cognitive tasks may take several minutes to begin once you have double-clicked on NIMHCogMood.app.
       Please be patient and do not double-click more than once.
   </p>
  </div>
  <div id="keep-instructions" class="alwaysinstructions">
      <p>Some browsers may flag this download as unusual because it is not commonly downloaded.</p>
      <p>If the downloaded file name is "Unconfirmed" or you get a message about needing an application
          to run the file, this is likely the cause.</p>
      <p>Click on your Downloads button in the top right of your screen and click the three dots
          that appear when you mouse over the message.</p>
      <p>Then click "Keep".</p>
      <p>Finally, click "Show more" and then "Keep anyway"</p>
      <img src="static/img/download_keep_circle_1.png" alt="Click three dots" class="instruction-image">
      <img src="static/img/download_keep_circle_2.png" alt="Click Keep" class="instruction-image">
      <img src="static/img/download_keep_circle_3.png" alt="Click Keep anyway" class="instruction-image">
  </div>
  <p>
       <br>
       If the task stops before you are able to complete it. Please run it again, you will be able to pick up where you left off.
      <br>
      If the task data has been uploaded successfully, you will be redirected to Prolific once you click the button below.
       <br>
       If you have trouble completing the tasks, please send a message through Prolific.
  </p>
  <p>
  <center>
  <form method="post">
      <button type="submit" name="task_completed" value=1>I have completed the tasks</button>
  </form>

  <button id="needHelp" class="button-problem"> Something went wrong</button>
  <div id="helpFormContainer">
      We're sorry you're having trouble with the NIMHCogMood app.
      Please select the button corresponding to the issue you are having.
      <form id="helpForm" method="post">
          <button id="appBrokeButton" class="button-problem" type="submit" name="app_broke" value=1>NIMHCogMood had an error.</button>
          <br>
          <div id="appBrokeContainer">
              Please make sure you wait for the app to open after double clicking it.
              It may take several minutes to open.
              <br>
              If you get an error message or your screen flashes before returning to the desktop with nothing starting please send a message through Prolific describing the problem.
          </div>
          <button id="noIdButton" class="button-problem" type="submit" name="no_id" value=1>I can't find my worker ID or code.</button>
          <br>
          <div id="noIdContainer" class="alert-warning">
              <p>
              Your Prolific Worker ID is <strong> {{ workerId }} </strong>
              <br>
              Your 4 character task code is <strong> {{ subject_task_code }} </strong>
              <br>
              <strong>Please make a note of your ID and code so that you can enter them in the task.</strong>
              </p>
          </div>
          <button id="noUploadButton" class="button-problem" type="submit" name="no_upload" value=1>The last block didn't upload.</button>
          <br>
          <div id="noUploadContainer">
              We're sorry that you were not able to upload the results of your last block.
              Please run NIMHCogMood again when you have a more stable internet connection.
              You will need to complete the block that failed to uplaod again, but all of your prior work will be saved.
          </div>
          <button id="otherProblemButton" class="button-problem" type="submit" name="other_problem" value=1>I had a different problem.</button>
          <br>
          <div id="otherProblemContainer">
              Please send us a message through Prolific describing the problem.
          </div>
      </form>
  </div>




  </center>
  </p>
</body>
<script>
    var urlp=[];s=location.toString().split('?');s=s[1].split('&');for(i=0;i<s.length;i++){u=s[i].split('=');urlp[u[0]]=u[1];}

    function detectOS() {
      const platform = navigator.platform.toLowerCase();
      if (platform.includes("win")) {
        showTab("windows");
      } else if (platform.includes("mac") || platform.includes("darwin")) {
        showTab("macos");
      } else {
        alert("Operating system not detected. Please select the correct tab.");
        showTab("windows"); // Default to Windows
      }
    }

    function showTab(os) {
      // Hide all instructions and remove active class from tabs
      document.getElementById("windows-instructions").style.display = "none";
      document.getElementById("macos-instructions").style.display = "none";
      document.getElementById("windows-tab").classList.remove("active");
      document.getElementById("macos-tab").classList.remove("active");

      // Show selected OS instructions and set active class on the tab
      document.getElementById(`${os}-instructions`).style.display = "block";
      document.getElementById(`${os}-tab`).classList.add("active");
    }

    document.getElementById('needHelp').addEventListener('click', function() {
      var formContainer = document.getElementById('helpFormContainer');
      if (formContainer.style.display === 'none' || formContainer.style.display === '') {
        formContainer.style.display = 'block'; // Show the form
      } else {
        formContainer.style.display = 'none'; // Hide the form
      }
    });

    document.getElementById('appBrokeButton').addEventListener('click', function() {
      var formContainer = document.getElementById('appBrokeContainer');
      var otherContainerIds = ['noIdContainer', 'noUploadContainer', 'otherProblemContainer']

      if (formContainer.style.display === 'none' || formContainer.style.display === '') {
        formContainer.style.display = 'block'; // Show help
      } else {
        formContainer.style.display = 'none'; // Hide help
      }
      otherContainerIds.forEach(function(ContainerId, index){
          otherContainer = document.getElementById(ContainerId);
          if (otherContainer.style.display === 'block') {
            otherContainer.style.display = 'none'; // Show help
          }
      })
    });

    document.getElementById('noIdButton').addEventListener('click', function() {
      var formContainer = document.getElementById('noIdContainer');
      var otherContainerIds = ['appBrokeContainer', 'noUploadContainer', 'otherProblemContainer']

      if (formContainer.style.display === 'none' || formContainer.style.display === '') {
        formContainer.style.display = 'block'; // Show help
      } else {
        formContainer.style.display = 'none'; // Hide help
      }
      otherContainerIds.forEach(function(ContainerId, index){
          otherContainer = document.getElementById(ContainerId);
          if (otherContainer.style.display === 'block') {
            otherContainer.style.display = 'none'; // Show help
          }
      })
    });

    document.getElementById('noUploadButton').addEventListener('click', function() {
      var formContainer = document.getElementById('noUploadContainer');
      var otherContainerIds = ['appBrokeContainer', 'noIdContainer', 'otherProblemContainer']

      if (formContainer.style.display === 'none' || formContainer.style.display === '') {
        formContainer.style.display = 'block'; // Show help
      } else {
        formContainer.style.display = 'none'; // Hide help
      }
      otherContainerIds.forEach(function(ContainerId, index){
          otherContainer = document.getElementById(ContainerId);
          if (otherContainer.style.display === 'block') {
            otherContainer.style.display = 'none'; // Show help
          }
      })
    });

    document.getElementById('otherProblemButton').addEventListener('click', function() {
      var formContainer = document.getElementById('otherProblemContainer');
      var otherContainerIds = ['appBrokeContainer', 'noIdContainer', 'noUploadContainer']

      if (formContainer.style.display === 'none' || formContainer.style.display === '') {
        formContainer.style.display = 'block'; // Show help
      } else {
        formContainer.style.display = 'none'; // Hide help
      }
      otherContainerIds.forEach(function(ContainerId, index){
          otherContainer = document.getElementById(ContainerId);
          if (otherContainer.style.display === 'block') {
            otherContainer.style.display = 'none'; // Show help
          }
      })
    });

    // Run OS detection on page load
    window.onload = detectOS;
</script>
