<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>CogMood - Task</title>
  <link rel="stylesheet" href="../static/css/tacit-css.min.css"/>


</head>
<style>
    div.box {
        text-align: center;
    }
</style>
<body>

  <h1 style="color: rgb(51, 51, 51);">Mood and Cognition Task Download</h1>

  <p>
      Placeholder
  </p>
  <div id="buttons-box" class="box">
      <button onclick="location.href='{{ platform_link }}';">
          Download
          <br>
          <small> for {{ platform.title() }}</small>
      </button>
      <br>
      <small><a href="{{other_link}}">Download for {{ other_platform.title() }}</a></small>
  </div>

</body>
<script>
  window.scrollTo(0,0);
</script>